# Database
DATABASE_URL=postgresql://meridian:meridian@localhost:5432/meridian

# Redis
REDIS_URL=redis://localhost:6379

# JWT
JWT_SECRET=change-me-platform
JWT_MERCHANT_SECRET=change-me-merchant
BIND_TOKEN_SECRET=change-me-bind

# App URLs
API_URL=http://localhost:3001
NEXT_PUBLIC_API_URL=http://localhost:3001
ADMIN_APP_URL=http://localhost:3000
MERCHANT_APP_URL=http://localhost:3002

# Ports
API_PORT=3001
ADMIN_PORT=3000
MERCHANT_PORT=3002
